@media (min-width: 1101px) and (max-width: 1300px) {
  .header > .upperHeader > .icons {
    width: 29%;
  }
  .header > .upperHeader > .header-info {
    width: 70%;
  }
  .header > .headerNav > .navigation > nav {
    width: 69%;
  }
}
@media (min-width: 641px) and (max-width: 1100px) {
  .headerNav {
    flex-direction: column;
  }
  .header > .upperHeader {
    display: none;
  }
  .header > .headerNav > .navigation {
    width: 100%;
  }
  .header > .headerNav > .navigation > nav {
    width: inherit;
    margin: auto;
  }
  .homeSearchOptions {
    margin-top: 8%;
  }
  .contactPageAddress {
    width: 60%;
  }
}
@media (min-width: 360px) and (max-width: 640px) {
  .header-responsive {
    display: block;
  }
  .header > .upperHeader {
    display: none;
  }
  .header {
    display: none;
  }
  h1 {
    font-size: 15px !important;
  }
  h2 {
    font-size: 12px !important;
  }
  h3 {
    font-size: 10px !important;
  }
  p,
  button,
  input,
  li,
  span {
    font-size: 8px;
  }
  .flex {
    flex-direction: column;
  }
  .homeSearchOptions {
    width: 100%;
    margin: 0;
    margin-top: 7%;
  }
  .homeSearchOptions > .searchOptions > form > .condition,
  .homeSearchOptions > .searchOptions > form > .make,
  .homeSearchOptions > .searchOptions > form > .model,
  .homeSearchOptions > .searchOptions > form > .year,
  .homeSearchOptions > .searchOptions > form > .searchBtn {
    width: 98%;
    margin: 10px 0;
  }
  .homeSearchOptions > .searchOptions > form > .searchBtn {
    width: 97.7%;
  }
  .homeBanner {
    height: 280px;
    margin-top: 6%;
  }
  .homeCarCompanies > .companies {
    flex-direction: row;
  }
  .homeCarCompanies > .companies > .company {
    height: 32px;
  }
  .homeRecentCars > .recentCars > .cars {
    width: 80%;
    margin: auto;
  }
  .homeServiceInfo > .service {
    width: 95%;
  }
  .homeWhyChooseUs > .whyChooseUs > .financing,
  .homeWhyChooseUs > .whyChooseUs > .brands,
  .homeWhyChooseUs > .whyChooseUs > .trust,
  .homeWhyChooseUs > .whyChooseUs > .maintenance {
    width: 95%;
  }
  .homeBlogs > .blogs > .blog {
    width: 78%;
    margin: 10px auto;
  }
  .inventoryView > .tools {
    width: 100%;
  }
  .inventoryView > .inventory {
    width: 100%;
  }
  .inventoryView > .inventory > .stock {
    flex-direction: row;
  }
  .inventoryView > .tools > form {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .inventoryView > .tools > form input {
    width: 10px;
  }
  .inventoryView > .tools > form > .conditionSearch,
  .inventoryView > .tools > form > .makeSearch,
  .inventoryView > .tools > form > .yearSearch {
    margin: 0;
  }
  .inventoryView > .inventory > .stock > .invContent > .carSpecs {
    flex-direction: revert;
  }
  .headingPrice {
    display: flex;
    flex-direction: revert;
  }
  .serviceCenter > .content,
  .serviceCenter > .image {
    width: 92%;
  }
  .serviceCenter > .content > .services > .list {
    width: 98%;
  }
  .serviceCenter > .content > .services > .list > span {
    font-size: 8px;
  }
  .mediaGallery > .gallery > .slide {
    width: 98%;
  }
  .mediaGallery > .sliderHandles {
    width: 10%;
    flex-direction: row;
    margin: auto;
  }
  .customerTestimonials > .advantages,
  .customerTestimonials > .testimonials {
    width: 100%;
  }
  .tabHeader {
    flex-direction: row;
  }
  .customerTestimonials > .testimonials > .customer > .image {
    width: 50%;
  }
  .customerTestimonials > .testimonials > .sliderBtns {
    float: none;
    flex-direction: row;
    margin: auto;
  }
  .contactPageForm > .form > form > .section {
    width: 100%;
  }
  .contactPageForm > .form > form > .section > .sub-section {
    width: 100%;
  }
  .contactPageForm > .form > form > .section > textarea {
    width: 82%;
  }
  .contactPageAddress > .address,
  .contactPageAddress > .location {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
  footer > .footerLogo,
  footer > .footerBlogs,
  footer > .newsLetter {
    width: 96%;
  }
}
