@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;800&display=swap");
:root {
  --black: black;
  --red: #a30000;
  --grey: #d9d9d9;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Poppins", sans-serif;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
}
.display-none {
  display: none;
}
.bold {
  font-weight: bold;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  width: 100%;
}
.banner {
  width: 100%;
}
.flex {
  display: flex;
}
.btn {
  text-transform: uppercase;
  background-color: var(--red);
  padding: 2% 5%;
  color: white;
  border: 1px solid var(--red);
  transition: 0.2s ease all;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: var(--red);
}
.heading {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}
.span {
  color: var(--red);
}
.price {
  font-size: 20px;
  font-weight: bold;
  color: green;
  letter-spacing: 1px;
}
.header {
  width: 100%;
  z-index: 1;
}
.header > .upperHeader {
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
}
.header > .upperHeader > .icons {
  width: 44%;
  padding: 1%;
}
.header > .upperHeader > .header-info {
  width: 55%;
  display: flex;
  margin: auto;
}
.header > .upperHeader > .header-info > .phone i,
.header > .upperHeader > .header-info > .location i,
.header > .upperHeader > .header-info > .workHours i {
  margin-right: 10px;
  margin-top: 5px;
}
.header > .upperHeader > .header-info > .phone {
  width: 20%;
  padding: 1%;
  display: flex;
  text-align: center;
}
.header > .upperHeader > .header-info > .location {
  width: 54%;
  padding: 1%;
  display: flex;
  text-align: right;
}
.header > .upperHeader > .header-info > .workHours {
  width: 20%;
  padding: 1%;
  display: flex;
  text-align: center;
}
.header > .headerNav {
  width: 100%;
  display: flex;
  background-color: var(--red);
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
}
.header > .headerNav > .headerLogo {
  width: 19%;
  padding: 1%;
}
.header > .headerNav > .navigation {
  width: 79%;
  padding: 1%;
}
.header > .headerNav > .navigation > nav {
  width: 63%;
  float: right;
  margin: auto;
}
.header > .headerNav > .navigation > nav > ul > li {
  float: left;
  margin-left: 40px;
  padding: 1%;
  text-align: right;
  cursor: pointer;
}
.homeSearchOptions {
  width: 95%;
  margin: 20px auto;
  margin-top: 9%;
}
.homeSearchOptions > .searchOptions {
  width: 100%;
}
.homeSearchOptions > .searchOptions > form > .condition,
.homeSearchOptions > .searchOptions > form > .make,
.homeSearchOptions > .searchOptions > form > .model,
.homeSearchOptions > .searchOptions > form > .year,
.homeSearchOptions > .searchOptions > form > .searchBtn {
  width: 17%;
  padding: 1%;
  margin: 1%;
  background-color: var(--red);
}
.homeSearchOptions > .searchOptions > form > .condition {
  margin-left: 0;
}
.homeSearchOptions > .searchOptions > form > .condition select,
.homeSearchOptions > .searchOptions > form > .make select,
.homeSearchOptions > .searchOptions > form > .model select,
.homeSearchOptions > .searchOptions > form > .year select,
.homeSearchOptions > .searchOptions > form > .searchBtn button {
  color: white;
  width: 99%;
  padding: 1%;
  background-color: inherit;
  border: none;
  font-weight: 500;
  letter-spacing: 1px;
}
.homeSearchOptions > .searchOptions > form > .condition select:focus,
.homeSearchOptions > .searchOptions > form > .make select:focus,
.homeSearchOptions > .searchOptions > form > .model select:focus,
.homeSearchOptions > .searchOptions > form > .year select:focus {
  outline: none;
}
.homeSearchOptions > .searchOptions > form > .searchBtn {
  transition: 0.2s ease all;
  border: 1px solid var(--red);
}
.homeSearchOptions > .searchOptions > form > .searchBtn:hover {
  background-color: white;
}
.homeSearchOptions > .searchOptions > form > .searchBtn:hover button {
  color: var(--red);
}
.homeBanner {
  width: 100%;
  height: 470px;
  margin-top: 8%;
  position: relative;
  color: white;
  background-image: url(../../../images/Home/home-banner.webp);
  display: flex;
}
.homeBanner > .bannerContent {
  width: 50%;
  margin: auto 0;
  margin-left: 10px;
  position: relative;
}
.homeBanner h1 {
  font-size: 50px;
}
.homeBanner > .bannerContent > button {
  margin-top: 10px;
}
.workSamplesSliderBtns {
  width: 100%;
}
.slider-btns {
  width: 10%;
  padding: 1%;
  margin: auto;
}
.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.slides-container {
  width: 100%;
  height: 600px;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slide-arrow {
  margin: auto;
  background-color: var(--ornage);
  border: 1px solid var(--ornage);
  font-size: 50px;
  padding: 0% 17%;
  cursor: pointer;
  color: white;
  transition: 0.2s ease all;
}
.slide-arrow:hover,
.slide-arrow:focus {
  background-color: inherit;
  color: var(--ornage);
}
.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 25%;
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.4);
}
.slide img {
  width: 100%;
  height: 100%;
}
.homeCarCompanies {
  width: 100%;
  margin: 40px 0;
}
.homeCarCompanies > .companies {
  width: 90%;
  margin: auto;
}
.homeCarCompanies > .companies > .company {
  width: 9%;
  height: 50px;
  margin: 2%;
  padding: 1%;
  box-shadow: 3px 3px 7px 0 var(--red);
}
.homeCarCompanies > .companies > .company img {
  width: 100%;
  height: 100%;
  margin: auto;
}
.homeRecentCars {
  margin: 40px 0;
}
.homeRecentCars > .recentCars {
  width: 100%;
}
.homeRecentCars > .recentCars > .cars {
  box-shadow: 0 0 1px 0;
  width: 31%;
  margin: 1%;
  padding: 1%;
  text-align: center;
}
.homeRecentCars > .recentCars > .cars > h3,
.homeRecentCars > .recentCars > .cars > span,
.homeRecentCars > .recentCars > .cars > button {
  margin-top: 10px;
}
.homeRecentCars > .recentCars > .cars > img {
  width: 100%;
  height: 400px;
}
.homeServiceInfo {
  margin: 40px 0;
}
.homeServiceInfo > .service {
  width: 30%;
  background-image: url(../../../images/Home/homeServiceBg.webp);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  padding: 2%;
  margin: 1%;
  color: white;
  text-align: center;
}
.homeServiceInfo > .service > .content > h3,
.homeServiceInfo > .service > .content > p,
.homeServiceInfo > .service > .content > button {
  margin-top: 10px;
}
.homeServiceInfo > .service > img {
  width: 100%;
  height: 100px;
}
.homeWhyChooseUs {
  margin: 40px 0;
  text-align: center;
}
.homeWhyChooseUs > .btn {
  padding: 1% 3%;
}
.homeWhyChooseUs h4,
.homeWhyChooseUs p {
  margin-top: 10px;
}
.homeWhyChooseUs > .whyChooseUs > .financing,
.homeWhyChooseUs > .whyChooseUs > .brands,
.homeWhyChooseUs > .whyChooseUs > .trust,
.homeWhyChooseUs > .whyChooseUs > .maintenance {
  width: 22%;
  margin: 1%;
  padding: 2%;
}
.homeWhyChooseUs > .whyChooseUs > .financing > img,
.homeWhyChooseUs > .whyChooseUs > .brands > img,
.homeWhyChooseUs > .whyChooseUs > .trust > img,
.homeWhyChooseUs > .whyChooseUs > .maintenance > img {
  width: 100%;
  height: 100px;
}
.homeBlogs {
  width: 90%;
  margin: auto;
}
.homeBlogs > .blogs {
  width: 100%;
}
.homeBlogs > .blogs > .blog {
  width: 30%;
  margin: 1%;
  padding: 2%;
  box-shadow: 0 0 1px 0;
}
.homeBlogs > .blogs > .blog > img {
  width: 100%;
}
.homeBlogs > .blogs > .blog > span,
.homeBlogs > .blogs > .blog > h4,
.homeBlogs > .blogs > .blog > hr,
.homeBlogs > .blogs > .blog > .blogProfile {
  margin-top: 10px;
}
.homeBlogs > .blogs > .blog > hr {
  width: 30%;
  border: 1px solid var(--red);
}
.inventoryBanner {
  background-image: url(../../../images/Inventory/inventory-banner.webp);
}
.inventoryHeading {
  width: 97%;
  padding: 1%;
  margin: 20px auto;
  background-color: var(--red);
  color: white;
}
.inventoryView > .tools {
  width: 30%;
}
.inventoryView > .tools > form > .conditionSearch,
.inventoryView > .tools > form > .makeSearch,
.inventoryView > .tools > form > .yearSearch {
  width: 90%;
  padding: 4%;
  margin: 4%;
  background-color: var(--grey);
  border-top: 8px solid var(--red);
}
.inventoryView > .tools > form input {
  margin-right: 10px;
}
.inventoryView > .inventory {
  width: 70%;
}
.inventoryView > .inventory > .stock {
  width: 92%;
  padding: 1%;
  margin: auto;
  margin-top: 1%;
  box-shadow: 0 0 1px 0;
}
.inventoryView > .inventory > .stock > .invImg {
  width: 39%;
  padding: 1%;
  background-image: url(../../../images/Inventory/inventory-img.webp);
  background-position: center;
  background-size: cover;
}
.inventoryView > .inventory > .stock > .invImg > img {
  width: 100%;
}
.inventoryView > .inventory > .stock > .invContent {
  width: 59%;
  padding: 1%;
  margin-bottom: 10px;
}
.inventoryView > .inventory > .stock > .invContent > .headingPrice > .heading {
  width: 70%;
}
.inventoryView
  > .inventory
  > .stock
  > .invContent
  > .headingPrice
  > .heading
  > h3 {
  text-align: left;
}
.inventoryView > .inventory > .stock > .invContent > .view-more {
  float: right;
}
.inventoryView > .inventory > .stock > .invContent > .headingPrice > .priceTag {
  width: 30%;
  margin: auto;
}
.inventoryView
  > .inventory
  > .stock
  > .invContent
  > .headingPrice
  > .priceTag
  > .tag {
  color: white;
  font-weight: bold;
  padding: 3%;
  background-color: var(--red);
  float: right;
}
.inventoryView > .inventory > .stock > .invContent > .carSpecs {
  width: 100%;
}
.inventoryView > .inventory > .stock > .invContent > .carSpecs > .mileage,
.inventoryView > .inventory > .stock > .invContent > .carSpecs > .fuelType,
.inventoryView > .inventory > .stock > .invContent > .carSpecs > .engine {
  width: 31%;
  padding: 2%;
}
.serviceBanner {
  background-image: url(../../../images/service/service-banner.webp);
}
.serviceBanner {
  background-image: url(../../../images/service/service-banner.webp);
}
.serviceCenter > .content,
.serviceCenter > .image {
  width: 48%;
  padding: 2%;
  margin: auto;
}
.serviceCenter > .image > img {
  width: 100%;
}
.serviceCenter > .content > h3 {
  margin-top: 10px;
}
.serviceCenter > .content > .services {
  width: 100%;
}
.serviceCenter > .content > .services > .list {
  width: 48%;
  padding: 2%;
}
.serviceCenter > .content > .services > .list > span > i {
  padding: 1%;
  margin-right: 5px;
  background-color: var(--red) !important;
}
.aboutUs {
  background-image: url(../../../images/Aboutus/about-banner.webp);
}
.mediaGallery {
  color: white;
  background-color: var(--red);
  padding: 20px 0;
}
.mediaGallery > hr {
  width: 20%;
  margin: auto;
  border: 2px solid var(--black);
  border-radius: 30px;
  margin-bottom: 10px;
}
.mediaGallery > .gallery {
  width: 60%;
  margin: auto;
}
.mediaGallery > .gallery > .slide {
  width: 31%;
  margin: 2%;
}
.mediaGallery > .gallery > .slide > img {
  width: 100%;
  height: 200px;
}
.mediaGallery > .sliderHandles {
  width: 8%;
  margin: auto;
}
.mediaGallery > .sliderHandles > .handleRight,
.mediaGallery > .sliderHandles > .handleLeft {
  width: 46%;
  padding: 2%;
  margin: 2%;
  font-size: 20px;
  text-align: center;
  border: 2px solid var(--black);
  background-color: var(--black);
  transition: 0.2s ease all;
}
.mediaGallery > .sliderHandles > .handleRight:hover,
.mediaGallery > .sliderHandles > .handleLeft:hover {
  background-color: inherit;
  border: 2px solid var(--black);
}
.mediaGallery > .sliderHandles > .handleRight i {
  rotate: 270deg;
}
.mediaGallery > .sliderHandles > .handleLeft i {
  rotate: 90deg;
}
.customerTestimonials > .advantages,
.customerTestimonials > .testimonials {
  width: 50%;
}
.customerTestimonials > .advantages h2,
.customerTestimonials > .testimonials h2 {
  text-align: center;
  margin: 10px 0;
}
.customerTestimonials > .advantages > .tabs {
  width: 80%;
  margin: 20px auto;
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
}
.customerTestimonials > .advantages > .tabs > .tabHeader > .icon {
  width: 8%;
  padding: 2%;
}
.customerTestimonials > .advantages > .tabs > .tabHeader > .icon > img {
  width: 100%;
}
.customerTestimonials > .advantages > .tabs > .tabHeader > .tabHeading {
  width: 83%;
  padding: 2%;
  text-align: center;
}
.customerTestimonials > .advantages > .tabs > .tabHeader > .openIcon {
  width: 3%;
  padding: 2%;
  cursor: pointer;
}
.customerTestimonials > .advantages > .tabs > .tabInfo {
  width: 98%;
  padding: 2%;
  text-align: center;
}
.customerTestimonials > .testimonials > .customer > .image {
  width: 40%;
  margin: auto;
}
.customerTestimonials > .testimonials > .customer > .content {
  width: 60%;
  margin: auto;
}
.customerTestimonials > .testimonials > .customer > .image img {
  width: 96%;
  margin: 2%;
  height: 250px;
}
.customerTestimonials > .testimonials > .sliderBtns {
  width: 10%;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
.customerTestimonials > .testimonials > .sliderBtns > .rightBtn,
.customerTestimonials > .testimonials > .sliderBtns > .leftBtn {
  width: 46%;
  margin: 2%;
  padding: 2%;
  font-size: 22px;
  background-color: var(--red);
  color: white !important;
  text-align: center;
}
.customerTestimonials > .testimonials > .sliderBtns > .rightBtn i {
  rotate: 269deg;
}
.customerTestimonials > .testimonials > .sliderBtns > .leftBtn i {
  rotate: 90deg;
}
.contactBanner {
  background-image: url(../../../images/Contact/contact-banner.webp);
}
.contactPageForm {
  width: 90%;
  padding: 2% 0;
  background-color: var(--grey);
  margin: 40px auto;
}
.contactPageForm > .form > form > .section {
  width: 48%;
  padding: 2%;
}
.contactPageForm > .form > form > .section span {
  font-weight: bold;
}
.contactPageForm > .form > form > .section > textarea {
  width: 100%;
  border: 1px solid var(--red);
}
.contactPageForm > .form > form > .section > .sub-section {
  width: 50%;
}
.contactPageForm > .form > form > .section > .sub-section > input {
  width: 78%;
  padding: 2%;
  margin-bottom: 20px;
  border: 1px solid var(--red);
}
.contactPageForm > .form > form > .section > .sub-section > input {
  width: 78%;
  padding: 2%;
  margin-bottom: 20px;
}
.contactPageAddress {
  width: 50%;
  margin: auto;
}
.contactPageAddress > .address > h3 {
  font-size: 20px;
}
.contactPageAddress > .address > .info > .img {
  width: 10%;
  text-align: center;
}
.contactPageAddress > .address > .info > .img > i {
  margin-top: 8px;
}
.contactPageAddress > .address > .info > .content {
  width: 90%;
}
.contactPageAddress > .address,
.contactPageAddress > .location {
  width: 48%;
  padding: 2%;
  margin: auto;
}
.contactPageAddress > .location > img {
  width: 100%;
  margin: auto;
  float: right;
}
footer {
  margin-top: 20px;
  background-color: var(--red);
  color: white;
  display: flex;
}
footer > .footerLogo,
footer > .footerBlogs,
footer > .newsLetter {
  width: 31%;
  padding: 2%;
}
footer > .newsLetter > form > input {
  width: 58%;
  border-radius: 15px 0 0 15px;
  border: none;
  padding: 2%;
  padding-left: 4%;
  font-weight: bold;
  letter-spacing: 1px;
}
footer > .newsLetter > form > input:focus {
  outline: none;
}
footer > .newsLetter > form > button {
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: var(--black);
  border: 1px solid var(--black);
  color: white;
  padding: 2%;
  margin-left: -10px;
}
footer > .newsLetter > form > button:hover {
  color: white;
}
